    /*
    Flaticon icon font: Flaticon
    Creation date: 04/04/2020 11:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-humidity:before { content: "\f100"; }
.flaticon-temperature:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-move:before { content: "\f103"; }
.flaticon-lamp:before { content: "\f104"; }
    
    $font-Flaticon-humidity: "\f100";
    $font-Flaticon-temperature: "\f101";
    $font-Flaticon-home: "\f102";
    $font-Flaticon-move: "\f103";
    $font-Flaticon-lamp: "\f104";