/*
Flaticon icon font: Flaticon
Creation date: 10/02/2019 11:17
*/

@font-face {
font-family: "Flaticon";
src: url("./Flaticon.eot");
src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
   url("./Flaticon.woff2") format("woff2"),
   url("./Flaticon.woff") format("woff"),
   url("./Flaticon.ttf") format("truetype"),
   url("./Flaticon.svg#Flaticon") format("svg");
font-weight: normal;
font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: "Flaticon";
src: url("./Flaticon.svg#Flaticon") format("svg");
}
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
font-family: Flaticon;
    font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}

.flaticon-humidity:before { content: "\f100"; }
.flaticon-temperature:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-move:before { content: "\f103"; }
.flaticon-lamp:before { content: "\f104"; }
